page-profilecreation {

  .circle-pic{
      width:100px;
      height:100px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: 70px;
      margin-left:35px;
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
      // margin: 0 auto;
      // display: block;
      // background-image: url(../assets/imgs/eventsimg.jpg);
      // background:"assets/imgs/man.png";
  }

  .profile-info{
    display: inline;
    margin: auto 0;
    margin-left: 10px;
    vertical-align: middle;
  }

  .pro-style{
    position: relative;
    top: -100px;
    z-index: 10;
  }

  .scroll-content{
    margin-bottom:0 !important;
    margin-top: 0 !important;
  }

  .profile-list{
    position: relative;
    top:-80px;
    margin-right: 20px; 
  }

  ion-content{
    overflow-y: scroll;
  }

  .has-refresher .scroll-content{
    border-top:0px !important;
  }
 
  #green_header {
    position: relative;
    top:0;
  }
  #detect_black{
    position: absolute;
    top:22px;
    left:18px;
    width:30px;
    height: 30px;
  }
 
  .head-text {
    position: absolute;
    top:20px;
    left:60px;
    font-family: "Assistant-Bold";
    font-size:22px;
  }
  .header::after{
    background-image:none;
  }
  .head-container {
    position: relative;
    top:0;
    left:0;
    background-color: transparent;
  }
 
 .content-style{
    height:90%;
    position: relative;
    top:-10px;
  }

}
