page-settings {

  .icon-size {
    font-size:30px;
    margin-top: 20px;
    margin-left: 20px;
}

.logout-text{
  font-size: 20px;
  margin-left: 10px;
}

.user-name{
  font-family: Assistant-Bold;
  font-size: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 45px;
  left: 54px;
  font-size: 20px;
}


}
