page-event-creation {
  #gng-count{
      position: relative;
      width:12px;
      left:9px;
    }
    .gng-btn{
      position: relative;
      right:-10px;
    }
     .action-bar, .detail-brief{
      border-bottom:1px solid #EEEEEE;
    }
    #dimns{
      width:100%;
      height:150px;
      border-radius: 8px;
    }
  
    .book-btn{
      box-shadow: none;
      font-family: Assistant-Bold;
      width:80px;
      position: relative;
      left:-4px;
      border-radius: 4px;
    }
  
    #date-dmns{
      width:95px;
      height:95px;
      position: relative;
      top:0px;
    }
  
    .day{
      // font-weight: bold;
      color:white;
      z-index:10;
      text-align: center;
      display: block;
      width: 95px;
      position: relative;
      top:12px;
      font-size:12px;
  
    }
    
    .date{
      font-family: 'Assistant-ExtraBold';
      font-size:52px;
      color:white;
      z-index: 10;
      width:95px;
      text-align: center;
      position: relative;
      top:-13px;
    }
    
    .month{
      font-size:12px;
      color:white;
      z-index:10;
      width: 95px;
      text-align: center;
      position: relative;
      top:-33px;
    }
  
    .dates{
      position: absolute;
      top:-5px;
    }
  
    .date-sec{
      position: relative;
      top:0;
      width:95px;
      margin-right:2px;
    }
  
    .event-title{
      position: relative;
      left:-10px;
    }
    .title{
      font-family: Assistant-Bold;
      position: relative;
  
    }
    .color{
      color:#8CD396;
    }
    .col-3{
      width:25px;
      padding-left:0;
      padding-right:0;
    }
    .middle{
      text-align: center;
      padding-top:0px;
      font-size:16px;
    }
    .non-btn{
      background-color: transparent;
    }
    .icon-size {
      font-size:36px;
    }
    .padding-left{
      padding-left:5px;
      color:dodgerblue;
      text-decoration: underline;
    }
    .icn-text{
      margin-top:7px;
    }
    .detail-header{
      font-size:14px;
      float:left;
      font-weight: bold;
      padding:10px 0;
      display: block;
      width:100%;
      margin-bottom:0;
    }
    .detail-content{
      text-align: left;
      // padding-left:15px;
      display: block;
      width:100%;
      margin-bottom:5px;
    }
  
    #btn{
      width:100%;
      box-shadow: none;
      padding:5px;
      font-weight: 500;
      font-size:18px;
    }
    .navBtns{
      padding-left:7px;
    }
  
    #quizbtn{
      width: 90px;
      height: 40px;
      position: relative;
      top:3px;
      cursor: pointer;
      z-index:10;
      
    }
  
    .int, .maybe{
      background-color:black;
      border-radius: 4px;
      padding:0;
      color:white;
      height:35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      // font-family: Assistant-Bold;
    }
    .notint{
      background-color:black;
      border-radius: 4px;
      padding: 0;
      color:white;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      // font-family: Assistant-Bold;
    }
    .bgcolor{
      background-color:#8CD396;
      color:black;
    }
  
    .btncolor{
      color:white;
      z-index:10;
    }
  
    .actionbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .showgoing{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 0px;
      top:-50px;
    }
    .desc{
      position: relative;
      top:-20px;
    }
    .fd-btn{
      margin-left:9px;
      margin-right:9px;
      width:95%;
      box-shadow: none;
      border-radius: 4px;
      z-index:10;
    }
  }
  